@import "../../../styles/utils/vars.scss";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  &__wrapper {
    padding: 10px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $media-lg) {
      padding: 10px 12px 0;
    }
  }

  &__logo {
    cursor: pointer;
  }
}
