@import "../../../styles/utils/vars.scss";

.menu {
  background: $global-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  font-size: 48px;
  line-height: 65px;
  flex-direction: column;
  align-items: center;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-bottom: 5%;
  }

  &__item {
    margin-bottom: 2%;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--logo {
      margin-bottom: 4%;
    }

    .menu__logo {
      width: 394px;
      height: 128px;
    }
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
  }
}

.menu__icon {
  z-index: 10;
  cursor: pointer;
}

.social {
  display: flex;

  &__link {
    margin-right: 30px;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
