@import "utils/vars";
@import "utils/fonts";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

html,
body {
  box-sizing: border-box;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
  background: transparent;
}

body {
  background: $global-bg;
}

.wrapper {
  position: relative;
  height: 100vh;
  font-family: $light-font;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: $global-white;

  @media (max-width: $media-superLg) {
    font-size: 16px;
  }
}

.slide {
  height: 100vh;
}
