@import "../../../styles/utils/vars.scss";

// text
.info {
  display: flex;
}

.info__title {
  width: 100%;
  max-width: 845px;
  font-size: 72px;
  line-height: 98px;
  padding-top: 7.5%;

  @media (max-width: $media-superLg) {
    font-size: 62px;
  }

  @media (max-width: $media-greatLg) {
    font-size: 56px;
    max-width: 605px;
  }
  @media (max-width: $media-subLg) {
    font-size: 50px;
  }
}

.info__text {
  width: 100%;
  max-width: 687px;
  padding-top: 12.5%;
  margin: 0 20px 0;

  @media (max-width: $media-superLg) {
    margin: 0;
    max-width: 600px;
  }

  @media (max-width: $media-greatLg) {
    max-width: 570px;
  }

  @media (max-width: $media-subLg) {
    max-width: 515px;
  }

  &--offset-1 {
    margin-right: 35px;
  }
}

.info__wrap {
  display: flex;
  padding-left: 20%;
}

// form
.form {
  width: 100%;
  display: flex;
  padding-top: 62.5%;

  &__input {
    margin-right: 8px;
    background: $global-white;
    color: $global-grey;
    padding-left: 16px;
    border-radius: 6px;
    border: none;
  }

  &__btn {
    border: none;
    border-radius: 6px;
    color: $global-white;
    background: $global-yellow;
    text-transform: uppercase;
    padding: 9px 19px;
    cursor: pointer;
  }
}

.clouds {
  position: absolute;
  width: 50%;
  height: 100%;

  &--last {
    width: 100%;
  }
}

.cloud {
  position: absolute;

  &__one {
    top: 55%;

    &--last {
      left: 34%;
    }
  }

  &__two {
    top: 70%;
    left: 50%;
  }

  &__three {
    top: 60%;
  }

  &__four {
    top: 57%;
    left: 70%;
  }

  &__five {
    top: 68%;
  }
}

.tree {
  position: absolute;
  bottom: 51px;
}

.tree-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 59px;
  z-index: 2;
  svg {
    z-index: 2;
    &:nth-of-type(2) {
      width: 24%;
    }
  }
}

.port {
  position: absolute;
  bottom: 53px;
}

.town {
  position: absolute;
  bottom: 59px;

  &__img {
    width: 693px;
    height: 447px;
  }
}

.store {
  position: absolute;
  bottom: 59px;

  &__img {
    width: 585px;
    height: 169px;
    // background-image: url("../../../static/icons/slides/store.svg");
  }
}

.lifter-wrap {
  width: 219px;
  height: 139px;
  position: absolute;
  bottom: 36px;
  z-index: 2;
  transition: opacity 0.50s ease-in-out;

  &--two {
    bottom: 46px;
  }
}

.construction {
  position: absolute;
  z-index: 1;
  bottom: 55%;
  &__content {
    position: relative;
    width: 250px;
    height: 647px;
  }

  &__hook {
    position: absolute;
    left: 40%;
  }

  &__hold {
    position: absolute;
    bottom: 0;
  }

  &__container {
    position: absolute;
    bottom: -94px;
    width: 230px;
    height: 93px;
    background-image: url("../../../static/icons/slides/container.svg");
  }
}

.road {
  position: absolute;
  left: 0;
  bottom: 28px;
  width: 900vw;
  height: 35px;
  border-top: 4px solid $global-white;
  border-bottom: 6px solid $global-white;

  @media (max-width: $media-lg) {
    width: 100%;
  }

  &__speed {
    position: absolute;
    top: -70px;
    left: 5%;
  }

  &__hr--dashed {
    margin: 10px 0;
    padding: 0;
    height: 0;
    width: 900vw;
    border: none;
    border-top: 2px dashed $global-yellow;

    @media (max-width: $media-lg) {
      width: 100%;
    }
  }
}

.truck {
  position: absolute;
  width: 336px;
  height: 128px;
  bottom: -17px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;


  &__container {
    width: 230px;
    height: 93px;
    position: absolute;
    top: -17px;
    left: 0;
    background-image: url("../../../static/icons/slides/container.svg");
  
  }
}

.wheel {
  position: absolute;
  top: 89px;
  width: 36px;
  height: 36px;
  background: $global-bg;
  border-radius: 50%;

  &--first {
    left: 26px;
  }

  &--second {
    left: 76px;
  }

  &--third {
    left: 252px;
  }

  &::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    top: 9px;
    left: 9.5px;
    border: 2.3px solid $global-white;
    border-radius: 50%;
  }

  &__shadow {
    width: 29px;
    height: 29px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-right: 2px solid $global-white;
    background: transparent no-repeat 12px 12px;
    border-radius: 50%;
  }
}
