@font-face {
    font-family: NuritoSansBlack;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../static/fonts/NunitoSans-Black.woff2") format("woff2"),
      url("../../static/fonts/NunitoSans-Black.woff") format("woff");
  }

  @font-face {
    font-family: NuritoSansRegular;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../static/fonts/NunitoSans-Regular.woff2") format("woff2"),
      url("../../static/fonts/NunitoSans-Regular.woff") format("woff");
  }