//colors
$global-bg: #203359;
$global-white: #fff;
$global-yellow: #fdb44d;
$global-grey: #adb8ce;

//fonts
$main-font: "NuritoSansBlack";
$light-font: "NuritoSansRegular";

//Media queries:

//desktop
$media-superLg: (1700px);
$media-greatLg: (1500px);
$media-subLg: (1400px);
$media-lg: (1199px);

// // tablet
// $media-md: (991px);
// $media-sub-md: (900px);
// $media-sm: (768px);

// //small
// $media-xs: (576px);
